/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-background-color: rgb(253, 253, 253);
    --ion-text-color: black;
  }
  
  body.dark {
    --ion-background-color: rgb(60, 60, 60);
    --ion-text-color: white;
  }
  