/* IonPage üzerine tam ekran arka plan */
.login-page {
  background: url("../assets/1svg.jpg") no-repeat center center;
  background-size: cover; /* Görsel sayfayı tamamen kaplasın */
  height: 100%;
  display: flex;
  flex-direction: column;
}



/* Şeffaf ve Blur Efektli Toolbar */
.custom-toolbar {
  background: rgba(0, 0, 0, 0.3); /* Hafif bulanıklık efekti */
  border-bottom: 2px solid rgb(49, 93, 94); /* Hafif şeffaf kenar çizgisi */
  z-index: 10;
}

/* IonContent'ın varsayılan arka planını temizle */
ion-content,ion-toolbar,ion-item,ion-button {
  --background: transparent; /* Ionic'in varsayılan arka planını kaldır */
}



/* Logo */
.logo {
  height: 80px;
  margin: 10px;
  width: auto;
}

/* Giriş Kutusu */
.login-container {
  background: rgba(255, 255, 255, 0.3); /* Şeffaf kutu arka planı */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
  margin-bottom: auto;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: 10%;
}

.login-title {
  /* font-size: 3rem; 
  color: rgb(49, 93, 94);*/
  text-align: center;
  margin-bottom: 20px;
}

/* Input ve Buton */
.login-input {
  margin-bottom: 15px;
  color: rgb(49, 93, 94);
  border-radius: 10px;
  font-size: large;
}

.login-button {
  font-size: large;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(49, 93, 94);
  transition: 0.2s;
}

.login-button:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  transition: 0.2s;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: large;
}

.signup-text a {
  color: rgb(49, 93, 94);
  transition: 0.2s;
}

.signup-text a:hover {
  color: rgb(0, 0, 0);
  transition: 0.2s;
}
